<div class="container" style="border: 4px solid #c8aa28; padding: 10px">
	<div
		class="inner-container"
		style="border: 2px solid #c4a52d; text-align: center"
	>
		<h2
			class="title"
			style="text-transform: uppercase; font-weight: bold; font-size: 36px"
		>
			Certificate of Achievement
		</h2>
		<p class="certify" style="font-size: 16px; color: #424360">
			This is certify that
		</p>
		<h2 class="name" style="font-weight: bold; font-size: 32px">
			{{student_name}}
		</h2>
		<p class="message">has successfully completed and passed the course</p>
		<h3 class="course-name" style="font-weight: bold; font-size: 24px">
			{{course_name}}
		</h3>
		<p class="message">
			This is certify that successfully complete {{course_duration}}
			{{course_name}} on {{course_completed_date}}
		</p>
		<div class="footer" style="padding: 30px 60px">
			<div class="footer-left" style="float: left; text-align: left">
				<h6
					class="course-id"
					style="font-weight: bold; font-size: 14px; margin-bottom: 10px"
				>
					Valid Certificate Id
				</h6>
				<p class="message">{{certificate_id}}</p>
			</div>
			<div class="footer-right" style="float: right; text-align: left">
				<img
					src=""
					alt=""
					class="sign-image"
					style="border-bottom: 1px solid #000"
				/>
				<h6 class="course-id"
					style="font-weight: bold; font-size: 14px; margin-bottom: 10px"
				>
					{{instructor_name}}
				</h6>
				<p class="message">Instructor</p>
			</div>
			<div class="clear" style="clear: both"></div>
		</div>
	</div>
</div>
